groundwork-monitor-platform/enterprise-foundation/misc/web-application/foundation/src/webapp/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc
            jersey:generatedBy="Jersey: 1.12 02/15/2012 04:51 PM"
            xmlns:jersey="http://jersey.java.net/"/>
    <doc
            title="Groundwork Foundation Rest API"
            xml:lang="en"><![CDATA[
            ]]><h3
            xmlns:ns2="http://wadl.dev.java.net/2009/02"
            xmlns="">Groundwork Foundation Rest API Metadata</h3><![CDATA[
            ]]><p
            xmlns:ns2="http://wadl.dev.java.net/2009/02"
            xmlns="">
        The Groundwork Foundation REST API for performing query and administrative operations
        on monitored entities in the Groundwork enterprise foundation server.
    </p><![CDATA[
            ]]>
        <p
                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                xmlns="">
            Operations supported are of the categories:
            <ul>
                <li>lookup operations - lookup entities by their primary key host name</li>
                <li>list operations - list all entities in the system, with optional depth and paging parameters</li>
                <li>query operations - query for entities using an object query language with optional depth and paging
                    parameters
                </li>
                <li>post operations - administrative batch operations to add or update entities. Works with lists of one
                    or more entities
                </li>
                <li>delete operations - administrative batch operations to delete entities. Works with lists of one or
                    more entities
                </li>
            </ul>
        </p>
        <![CDATA[
                ]]><p
                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                xmlns="">
            Note that post and delete operations are not transactional. If a list of 10 entities are passed in to be
            added, and
            if, for example, two entities fail to update, the other eight entities will still be persisted. The results
            for all
            post and delete operations return the same DtoOperationResults list of DtoOperationResult (see XML schema),
            holding
            the result (success, failure, warning) of each sub-operation.
        </p><![CDATA[
        The Rest API supports retrieval operations (lookup,list,query) of up to three depths, depending on the particular API:
        ]]>
        <ul
                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                xmlns="">
            <li>shallow - return all attributes and properties</li>
            <li>deep - returns all shallow attributes and properties, plus all associated elements and lists of elements
                at shallow depth
            </li>
            <li>simple - names and descriptions only</li>
        </ul>
        <![CDATA[
                ]]>
    </doc>
    <grammars>
        <include
                href="xsd0.xsd"/>
    </grammars>
    <resources
            base="http://localhost/api">
        <resource
                path="/autoRegister">
            <resource
                    path="/registerAgent">
                <method id="registerAgent"
                        name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="agent-type" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-name" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-ip" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-mac" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="operating-system" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-characteristic" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/registerAgentByProfile">
                <method
                        id="registerAgentByProfile"
                        name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="agent-type" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-name" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-ip" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-mac" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="operating-system" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="host-profile-name" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="service-profile-name"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/services">
            <method id="getServices"
                    name="GET">
                <request>
                    <param name="query"
                           style="query" type="xs:string"
                           xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="first" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="count" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="services" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="services"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method
                    id="createServices"
                    name="POST">
                <request>
                    <ns2:representation
                            element="services" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="services"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method
                    id="deleteServicesWithUpdate"
                    name="DELETE">
                <request>
                    <ns2:representation
                            element="services" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="services"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <resource
                    path="/{serviceName}">
                <param name="serviceName"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getService" name="GET">
                    <request>
                        <param
                                name="hostName" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="service"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="service"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/{serviceNames}">
                <param name="serviceNames"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="deleteServices" name="DELETE">
                    <request>
                        <param
                                name="hostName" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="results"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="results"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/performanceData">
            <resource path="/post">
                <method
                        id="postPerfData"
                        name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="dataInJSONFormat" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/hostgroups">
            <method id="getHostGroups"
                    name="GET">
                <request>
                    <param name="query"
                           style="query" type="xs:string"
                           xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="depth" style="query" type="xs:string"
                            default="Shallow"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="first" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="count" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="hostGroups" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation
                            element="hostGroups"
                            mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </response>
            </method>
            <method
                    id="createHostGroups"
                    name="POST">
                <request>
                    <ns2:representation
                            element="hostGroups" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation
                            element="hostGroups"
                            mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method
                    id="deleteHostGroups" name="DELETE">
                <request>
                    <param
                            name="clear" style="query" type="xs:string"
                            default="false"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <ns2:representation
                            element="hostGroups" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation
                            element="hostGroups"
                            mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <resource
                    path="/{hostGroup_name}">
                <param
                        name="hostGroup_name" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getHostGroup" name="GET">
                    <request>
                        <param
                                name="depth" style="query" type="xs:string"
                                default="Shallow"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="hostGroup"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="hostGroup"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/{hostGroupNames}">
                <param
                        name="hostGroupNames" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="removeHostGroup" name="DELETE">
                    <request>
                        <param
                                name="clear" style="query" type="xs:string"
                                default="false"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="results"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="results"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/vemaProfile">
            <resource
                    path="/checkUpdates">
                <method id="checkUpdates"
                        name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="vmtype" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="client-monitoring-profile"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/noma">
            <resource path="/notifyHost">
                <method
                        id="notifyHost" name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hoststate" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostname" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostgroupnames" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationtype" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostaddress" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostoutput" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="shortdatetime" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostnotificationid" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationauthoralias"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationcomment" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationrecipients"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/notifyService">
                <method id="notifyService"
                        name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="servicestate" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostname" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostgroupnames" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="servicegroupnames" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="servicedescription" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="serviceoutput" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationtype" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostalias" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="hostaddress" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="shortdatetime" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="servicenotificationid"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationauthoralias"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationcomment" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="notificationrecipients"
                                    style="query" type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/devices">
            <method id="getDevices"
                    name="GET">
                <request>
                    <param name="query"
                           style="query" type="xs:string"
                           xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="depth" style="query" type="xs:string"
                            default="Shallow"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="first" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="count" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="devices" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="devices"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method id="createDevices"
                    name="POST">
                <request>
                    <ns2:representation
                            element="devices" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="devices"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method
                    id="deleteDevicesWithUpdate"
                    name="DELETE">
                <request>
                    <ns2:representation
                            element="devices" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="devices"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="*/*"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </response>
            </method>
            <resource
                    path="/{device_name}">
                <param name="device_name"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getDevice" name="GET">
                    <request>
                        <param
                                name="depth" style="query" type="xs:string"
                                default="Shallow"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="device" mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="device"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/{deviceIdentificationList}">
                <param
                        name="deviceIdentificationList" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="deleteDevices"
                        name="DELETE">
                    <response>
                        <ns2:representation
                                element="results"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="results"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/events">
            <method id="getEvents"
                    name="GET">
                <request>
                    <param name="query"
                           style="query" type="xs:string"
                           xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="first" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="count" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="events" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="events"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method id="createEvents"
                    name="POST">
                <request>
                    <ns2:representation
                            element="events" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="events"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <resource
                    path="/{eventIds : (\d+)(,\s*\d+)*}">
                <param
                        name="eventIds" style="template" type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getEventsByIds" name="GET">
                    <request>
                        <param
                                name="first" style="query" type="xs:int"
                                default="-1"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="count" style="query" type="xs:int"
                                default="-1"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="events" mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="events"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
                <method
                        id="updateEventsStatus" name="PUT">
                    <request>
                        <param
                                name="opStatus" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="updatedBy" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="comments" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="results"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="results"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
                <method
                        id="deleteEvents"
                        name="DELETE">
                    <response>
                        <representation
                                mediaType="application/xml"/>
                        <representation
                                mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/graphs">
            <method id="getGraphs"
                    name="GET">
                <request>
                    <param
                            name="applicationType" style="query"
                            type="xs:string" default="NAGIOS"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="hostName" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="serviceName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="startDate" style="query" type="xs:long"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="endDate" style="query" type="xs:long"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="graphWidth" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="graphs" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="graphs"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
        </resource>
        <resource
                path="/hosts">
            <method id="getHosts"
                    name="GET">
                <request>
                    <param name="query"
                           style="query" type="xs:string"
                           xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="depth" style="query" type="xs:string"
                            default="Shallow"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="first" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="count" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="hosts" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="hosts"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method id="createHosts"
                    name="POST">
                <request>
                    <ns2:representation
                            element="hosts" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="hosts"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method
                    id="deleteHostsWithHostUpdate"
                    name="DELETE">
                <request>
                    <ns2:representation
                            element="host" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="host"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <resource
                    path="/{host_name}">
                <param name="host_name"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getHost" name="GET">
                    <request>
                        <param name="depth"
                               style="query" type="xs:string"
                               default="Shallow"
                               xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="host" mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation element="host"
                                            mediaType="application/json"
                                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                            xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/{hostNames}">
                <param name="hostNames"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="deleteHosts"
                        name="DELETE">
                    <response>
                        <ns2:representation
                                element="results"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="results"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/eventGeneration">
            <resource
                    path="/generateBulkEvents">
                <method
                        id="generateBulkEvents"
                        name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="dataInJSONFormat" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/uploadProfiles">
            <resource path="/upload">
                <method
                        id="upload" name="POST">
                    <request>
                        <representation
                                mediaType="application/x-www-form-urlencoded">
                            <param
                                    name="username" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="password" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="appServerName" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <param
                                    name="mbeanAtts" style="query"
                                    type="xs:string"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        </representation>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/categories">
            <method id="getCategories"
                    name="GET">
                <request>
                    <param name="query"
                           style="query" type="xs:string"
                           xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="depth" style="query" type="xs:string"
                            default="Shallow"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="first" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <param
                            name="count" style="query" type="xs:int"
                            default="-1"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </request>
                <response>
                    <ns2:representation
                            element="categories" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation
                            element="categories"
                            mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </response>
            </method>
            <method
                    id="createCategories"
                    name="POST">
                <request>
                    <ns2:representation
                            element="categories" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation
                            element="categories"
                            mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation element="results"
                                        mediaType="application/json"
                                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                        xmlns=""/>
                </response>
            </method>
            <method
                    id="deleteCategoriesWithUpdate"
                    name="DELETE">
                <request>
                    <ns2:representation
                            element="categories" mediaType="application/xml"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                    <ns2:representation
                            element="categories"
                            mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </request>
                <response>
                    <ns2:representation
                            element="results" mediaType="*/*"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/>
                </response>
            </method>
            <resource
                    path="/{categoryName}">
                <param name="categoryName"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getCategory" name="GET">
                    <request>
                        <param
                                name="entityType" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="depth" style="query" type="xs:string"
                                default="Shallow"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="category"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="category"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/{categoryNameList}">
                <param
                        name="categoryNameList" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="deleteCategories"
                        name="DELETE">
                    <response>
                        <ns2:representation
                                element="results"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="results"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/statistics">
            <resource
                    path="/hosts/{hostNames}">
                <param name="hostNames"
                       style="template" type="xs:string"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getHostStatisticsByNames"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/totals/hosts">
                <method
                        id="getHostTotalStatistics"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/hostgroups/{hostGroupNames}">
                <param
                        name="hostGroupNames" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getHostGroupStatisticsByName"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/hostgroups">
                <method
                        id="getHostGroupStatistics"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/services">
                <method id="getServiceStatistics"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/services/hosts/{hostNames}">
                <param
                        name="hostNames" style="template" type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getServiceStatisticsByHostNames"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/services/hostgroups/{hostGroupNames}">
                <param
                        name="hostGroupNames" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getServiceStatisticsByHostGroupNames"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/services/servicegroups/{serviceGroupNames}">
                <param
                        name="serviceGroupNames" style="template"
                        type="xs:string"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method
                        id="getServiceStatisticsByServiceGroupNames"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/services/servicegroups">
                <method
                        id="getServiceStatisticsByServiceGroups"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistics"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/totals/services">
                <method
                        id="getServiceStatisticsTotals"
                        name="GET">
                    <response>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/availability/hosts">
                <method
                        id="getHostAvailabilityForHostGroup"
                        name="GET">
                    <request>
                        <param name="hostGroup"
                               style="query" type="xs:string" default=""
                               xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/availability/services">
                <method
                        id="getServiceAvailability"
                        name="GET">
                    <request>
                        <param name="hostGroup"
                               style="query" type="xs:string" default=""
                               xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="serviceGroup" style="query"
                                type="xs:string" default=""
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/xml"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                        <ns2:representation
                                element="statistic"
                                mediaType="application/json"
                                xmlns:ns2="http://wadl.dev.java.net/2009/02"
                                xmlns=""/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/pluginUpdates">
            <resource
                    path="/findUpdates">
                <method id="findUpdates"
                        name="GET">
                    <request>
                        <param name="platform"
                               style="query" type="xs:string"
                               xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="arch" style="query" type="xs:int"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param
                                name="lastUpdateTimestamp" style="query"
                                type="xs:string"
                                xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </request>
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource
                path="/meta">
            <resource path="/wadl">
                <method
                        id="downloadWADL"
                        name="GET">
                    <response>
                        <representation
                                mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/xsd">
                <method id="downloadXSD"
                        name="GET">
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
