groundwork-monitor-platform/enterprise-foundation/misc/web-application/foundation/src/webapp/foundation-rest.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="applicationType" type="dtoApplicationType"/>

    <xs:element name="categories" type="dtoCategoryList"/>

    <xs:element name="category" type="dtoCategory"/>

    <xs:element name="categoryEntity" type="dtoCategoryEntity"/>

    <xs:element name="checkType" type="dtoCheckType"/>

    <xs:element name="device" type="dtoDevice"/>

    <xs:element name="devices" type="dtoDeviceList"/>

    <xs:element name="entityType" type="dtoEntityType"/>

    <xs:element name="event" type="dtoEvent"/>

    <xs:element name="events" type="dtoEventList"/>

    <xs:element name="graph" type="dtoGraph"/>

    <xs:element name="graphs" type="dtoGraphList"/>

    <xs:element name="host" type="dtoHost"/>

    <xs:element name="hostGroup" type="dtoHostGroup"/>

    <xs:element name="hostGroups" type="dtoHostGroupList"/>

    <xs:element name="hostStatus" type="dtoHostStatus"/>

    <xs:element name="hosts" type="dtoHostList"/>

    <xs:element name="monitorServer" type="dtoMonitorServer"/>

    <xs:element name="monitorStatus" type="dtoMonitorStatus"/>

    <xs:element name="property" type="dtoProperty"/>

    <xs:element name="results" type="dtoOperationResults"/>

    <xs:element name="service" type="dtoService"/>

    <xs:element name="services" type="dtoServiceList"/>

    <xs:element name="stateType" type="dtoStateType"/>

    <xs:element name="statistic" nillable="true" type="xs:anyType"/>

    <xs:element name="statistics" type="dtoStateStatisticList"/>

    <xs:complexType name="dtoHostList">
        <xs:sequence>
            <xs:element ref="host" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoHost">
        <xs:complexContent>
            <xs:extension base="dtoPropertiesBase">
                <xs:sequence>
                    <xs:element ref="device" minOccurs="0"/>
                    <xs:element ref="hostStatus" minOccurs="0"/>
                    <xs:element name="services" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="service" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="hostGroups" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="hostGroup" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element ref="applicationType" minOccurs="0"/>
                    <xs:element name="statistics" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="statistic" type="dtoStatistic" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="xs:int"/>
                <xs:attribute name="hostName" type="xs:string"/>
                <xs:attribute name="description" type="xs:string"/>
                <xs:attribute name="monitorStatus" type="xs:string"/>
                <xs:attribute name="appType" type="xs:string"/>
                <xs:attribute name="deviceIdentification" type="xs:string"/>
                <xs:attribute name="deviceDisplayName" type="xs:string"/>
                <xs:attribute name="lastCheckTime" type="xs:dateTime"/>
                <xs:attribute name="bubbleUpStatus" type="xs:string"/>
                <xs:attribute name="serviceAvailability" type="xs:string"/>
                <xs:attribute name="acknowledged" type="xs:boolean"/>
                <xs:attribute name="agentId" type="xs:string"/>
                <xs:attribute name="serviceCount" type="xs:int"/>
                <xs:attribute name="monitorServer" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dtoPropertiesBase">
        <xs:sequence>
            <xs:element name="properties" type="dtoProperties" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoDevice">
        <xs:sequence>
            <xs:element name="hosts" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="host" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="monitorServers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="monitorServer" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="identification" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoMonitorServer">
        <xs:sequence>
            <xs:element name="devices" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="device" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="monitorServerId" type="xs:int"/>
        <xs:attribute name="monitorServerName" type="xs:string"/>
        <xs:attribute name="ip" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoHostStatus">
        <xs:sequence>
            <xs:element ref="monitorStatus" minOccurs="0"/>
            <xs:element ref="checkType" minOccurs="0"/>
            <xs:element ref="stateType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="hostStatusId" type="xs:int"/>
        <xs:attribute name="lastCheckTime" type="xs:dateTime"/>
        <xs:attribute name="nextCheckTime" type="xs:dateTime"/>
    </xs:complexType>

    <xs:complexType name="dtoMonitorStatus">
        <xs:sequence/>
        <xs:attribute name="monitorStatusId" type="xs:int"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoCheckType">
        <xs:sequence/>
        <xs:attribute name="checkTypeId" type="xs:int"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoStateType">
        <xs:sequence>
            <xs:element name="stateTypeId" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoService">
        <xs:complexContent>
            <xs:extension base="dtoPropertiesBase">
                <xs:sequence/>
                <xs:attribute name="id" type="xs:int"/>
                <xs:attribute name="appType" type="xs:string"/>
                <xs:attribute name="description" type="xs:string"/>
                <xs:attribute name="monitorStatus" type="xs:string"/>
                <xs:attribute name="lastCheckTime" type="xs:dateTime"/>
                <xs:attribute name="nextCheckTime" type="xs:dateTime"/>
                <xs:attribute name="lastStateChange" type="xs:dateTime"/>
                <xs:attribute name="hostName" type="xs:string"/>
                <xs:attribute name="metricType" type="xs:string"/>
                <xs:attribute name="domain" type="xs:string"/>
                <xs:attribute name="stateType" type="xs:string"/>
                <xs:attribute name="checkType" type="xs:string"/>
                <xs:attribute name="lastHardState" type="xs:string"/>
                <xs:attribute name="agentId" type="xs:string"/>
                <xs:attribute name="monitorServer" type="xs:string"/>
                <xs:attribute name="deviceIdentification" type="xs:string"/>
                <xs:attribute name="lastPlugInOutput" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dtoProperties">
        <xs:sequence>
            <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoProperty">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoHostGroup">
        <xs:sequence>
            <xs:element name="hosts" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="host" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="applicationType" minOccurs="0"/>
            <xs:element name="statistics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="statistic" type="dtoStatistic" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="alias" type="xs:string"/>
        <xs:attribute name="appType" type="xs:string"/>
        <xs:attribute name="agentId" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoApplicationType">
        <xs:sequence>
            <xs:element name="stateTransitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="stateTransition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="applicationTypeId" type="xs:int"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="stateTransitionCriteria" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoStatistic">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="count" type="xs:long"/>
    </xs:complexType>

    <xs:complexType name="dtoGraphList">
        <xs:sequence>
            <xs:element ref="graph" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoGraph">
        <xs:sequence>
            <xs:element name="graph" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoEventList">
        <xs:sequence>
            <xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoEvent">
        <xs:complexContent>
            <xs:extension base="dtoPropertiesBase">
                <xs:sequence/>
                <xs:attribute name="id" type="xs:int"/>
                <xs:attribute name="device" type="xs:string"/>
                <xs:attribute name="host" type="xs:string"/>
                <xs:attribute name="service" type="xs:string"/>
                <xs:attribute name="operationStatus" type="xs:string"/>
                <xs:attribute name="monitorStatus" type="xs:string"/>
                <xs:attribute name="severity" type="xs:string"/>
                <xs:attribute name="applicationSeverity" type="xs:string"/>
                <xs:attribute name="component" type="xs:string"/>
                <xs:attribute name="priority" type="xs:string"/>
                <xs:attribute name="typeRule" type="xs:string"/>
                <xs:attribute name="textMessage" type="xs:string"/>
                <xs:attribute name="firstInsertDate" type="xs:dateTime"/>
                <xs:attribute name="lastInsertDate" type="xs:dateTime"/>
                <xs:attribute name="reportDate" type="xs:dateTime"/>
                <xs:attribute name="msgCount" type="xs:int"/>
                <xs:attribute name="appType" type="xs:string"/>
                <xs:attribute name="monitorServer" type="xs:string"/>
                <xs:attribute name="consolidationName" type="xs:string"/>
                <xs:attribute name="logType" type="xs:string"/>
                <xs:attribute name="errorType" type="xs:string"/>
                <xs:attribute name="loggerName" type="xs:string"/>
                <xs:attribute name="applicationName" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dtoHostGroupList">
        <xs:sequence>
            <xs:element ref="hostGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoCategoryList">
        <xs:sequence>
            <xs:element ref="category" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoCategory">
        <xs:sequence>
            <xs:element ref="entityType" minOccurs="0"/>
            <xs:element name="parents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="category" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="entities" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entity" type="dtoCategoryEntity" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="entityTypeName" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoEntityType">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="isLogicalEntity" type="xs:boolean"/>
        <xs:attribute name="applicationTypeSupported" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="dtoCategoryEntity">
        <xs:sequence>
            <xs:element ref="entityType" minOccurs="0"/>
            <xs:element ref="category" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="objectID" type="xs:int"/>
        <xs:attribute name="entityTypeId" type="xs:int"/>
        <xs:attribute name="entityTypeName" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoAvailability">
        <xs:sequence/>
        <xs:attribute name="availability" type="xs:double"/>
        <xs:attribute name="queryBy" type="xs:string"/>
        <xs:attribute name="queryParam" type="xs:string"/>
        <xs:attribute name="queryValue" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoStateStatisticList">
        <xs:sequence>
            <xs:element ref="statistic" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoStateStatistic">
        <xs:sequence>
            <xs:element name="properties" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="property" type="dtoStatistic" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="totalHosts" type="xs:long"/>
        <xs:attribute name="totalServices" type="xs:long"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="availability" type="xs:double"/>
        <xs:attribute name="bubbleUpStatus" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dtoOperationResults">
        <xs:sequence>
            <xs:element name="result" type="dtoOperationResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="successful" type="xs:int" use="required"/>
        <xs:attribute name="failed" type="xs:int"/>
        <xs:attribute name="entityType" type="xs:string"/>
        <xs:attribute name="operation" type="xs:string"/>
        <xs:attribute name="warning" type="xs:int"/>
        <xs:attribute name="count" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="dtoOperationResult">
        <xs:sequence>
            <xs:element name="entity" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="xs:string" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoDeviceList">
        <xs:sequence>
            <xs:element ref="device" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dtoServiceList">
        <xs:sequence>
            <xs:element ref="service" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

