groundwork-monitor-platform/enterprise-foundation/josso/josso-ldap-identitystore/src/main/resources/josso-memory-identitystore-1.8.8.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='urn:org:josso:memory:identitystore'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='urn:org:josso:memory:identitystore'>

  <!-- element for type: org.josso.gateway.identity.service.store.MemoryIdentityStore -->
  <xs:element name='memory-store'>
    <xs:complexType>
      <xs:attribute name='credentialsFileName' type='xs:string'/>
      <xs:attribute name='usersFileName' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
