groundwork-monitor-platform/enterprise-foundation/josso/josso-ldap-identitystore/src/main/resources/josso-ldap-identitystore-1.8.8.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='urn:org:josso:ldap:identitystore'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='urn:org:josso:ldap:identitystore'>

  <!-- element for type: org.josso.gateway.identity.service.store.ldap.LDAPBindIdentityStore -->
  <xs:element name='ldap-bind-store'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        An implementation of an Identity and Credential Store which obtains credential, user and
role information from an LDAP server using JNDI, based on the configuration properties.
<p/>
It allows to set whatever options your LDAP JNDI provider supports your Gateway
configuration file.
Examples of standard property names are:
<ul>
<li><code>initialContextFactory = "java.naming.factory.initial"</code>
<li><code>securityProtocol = "java.naming.security.protocol"</code>
<li><code>providerUrl = "java.naming.provider.url"</code>
<li><code>securityAuthentication = "java.naming.security.authentication"</code>
</ul>
<p/>
This store implementation is both an Identity Store and Credential Store.
Since in JOSSO the authentication of the user is left to the configured Authentication Scheme,
this store implementation cannot delegate user identity assertion by binding to the
LDAP server. For that reason it retrieves the required credentials from the directory
leaving the authentication procedure to the configured Authentication Scheme.
The store must be supplied with the configuratoin parameters so that it can retrieve user
identity information.
<p/>
<p/>
Additional component properties include:
<ul>
<li>securityPrincipal: the DN of the user to be used to bind to the LDAP Server
<li>securityCredential: the securityPrincipal password to be used for binding to the
LDAP Server.
<li>securityAuthentication: the security level to be used with the LDAP Server session.
Its value is one of the following strings:
"none", "simple", "strong".
If not set, "simple" will be used.
<li>usersCtxDN : the fixed distinguished name to the context to search for user accounts.
<li>principalUidAttributeID: the name of the attribute that contains the user login name.
This is used to locate the user.
<li>rolesCtxDN : The fixed distinguished name to the context to search for user roles.
<li>uidAttributeID: the name of the attribute that, in the object containing the user roles,
references role members. The attribute value should be the DN of the user associated with the
role. This is used to locate the user roles.
<li>roleAttributeID : The name of the attribute that contains the role name
<li>credentialQueryString : The query string to obtain user credentials. It should have the
following format : user_attribute_name=credential_attribute_name,...
For example :
uid=username,userPassword=password
<li>userPropertiesQueryString : The query string to obtain user properties. It should have
the following format : ldap_attribute_name=user_attribute_name,...
For example :
mail=mail,cn=description
</ul>
A sample LDAP Identity Store configuration :
<p/>
<pre>
&lt;sso-identity-store&gt;
&lt;class&gt;org.josso.gateway.identity.service.store.ldap.LDAPBindIdentityStore&lt;/class&gt;
&lt;initialContextFactory&gt;com.sun.jndi.ldap.LdapCtxFactory&lt;/initialContextFactory&gt;
&lt;providerUrl&gt;ldap://localhost&lt;/providerUrl&gt;
&lt;securityPrincipal&gt;cn=Manager\,dc=my-domain\,dc=com&lt;/securityPrincipal&gt;
&lt;securityCredential&gt;secret&lt;/securityCredential&gt;
&lt;securityAuthentication&gt;simple&lt;/securityAuthentication&gt;
&lt;usersCtxDN&gt;ou=People\,dc=my-domain\,dc=com&lt;/usersCtxDN&gt;
&lt;principalUidAttributeID&gt;uid&lt;/principalUidAttributeID&gt;
&lt;rolesCtxDN&gt;ou=Roles\,dc=my-domain\,dc=com&lt;/rolesCtxDN&gt;
&lt;uidAttributeID&gt;uniquemember&lt;/uidAttributeID&gt;
&lt;roleAttributeID&gt;cn&lt;/roleAttributeID&gt;
&lt;credentialQueryString&gt;uid=username\,userPassword=password&lt;/credentialQueryString&gt;
&lt;userPropertiesQueryString&gt;mail=mail\,cn=description&lt;/userPropertiesQueryString&gt;
&lt;/sso-identity-store&gt;
</pre>
<p/>
A sample LDAP Credential Store configuration :
<p/>
<pre>
&lt;credential-store&gt;
&lt;class&gt;org.josso.gateway.identity.service.store.ldap.LDAPBindIdentityStore&lt;/class&gt;
&lt;initialContextFactory&gt;com.sun.jndi.ldap.LdapCtxFactory&lt;/initialContextFactory&gt;
&lt;providerUrl&gt;ldap://localhost&lt;/providerUrl&gt;
&lt;securityPrincipal&gt;cn=Manager\,dc=my-domain\,dc=com&lt;/securityPrincipal&gt;
&lt;securityCredential&gt;secret&lt;/securityCredential&gt;
&lt;securityAuthentication&gt;simple&lt;/securityAuthentication&gt;
&lt;usersCtxDN&gt;ou=People\,dc=my-domain\,dc=com&lt;/usersCtxDN&gt;
&lt;principalUidAttributeID&gt;uid&lt;/principalUidAttributeID&gt;
&lt;rolesCtxDN&gt;ou=Roles\,dc=my-domain\,dc=com&lt;/rolesCtxDN&gt;
&lt;uidAttributeID&gt;uniquemember&lt;/uidAttributeID&gt;
&lt;roleAttributeID&gt;cn&lt;/roleAttributeID&gt;
&lt;credentialQueryString&gt;uid=username\,userPassword=password&lt;/credentialQueryString&gt;
&lt;userPropertiesQueryString&gt;mail=mail\,cn=description&lt;/userPropertiesQueryString&gt;
&lt;/credential-store&gt;
</pre>
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='enableStartTls' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='useBindCredentials' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='credentialQueryString' type='xs:string'/>
      <xs:attribute name='enableStartTls' type='xs:string'/>
      <xs:attribute name='initialContextFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Configuration Properties
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='ldapSearchScope' type='xs:string'/>
      <xs:attribute name='principalLookupAttributeID' type='xs:string'/>
      <xs:attribute name='principalUidAttributeID' type='xs:string'/>
      <xs:attribute name='providerUrl' type='xs:string'/>
      <xs:attribute name='roleAttributeID' type='xs:string'/>
      <xs:attribute name='roleMatchingMode' type='xs:string'/>
      <xs:attribute name='rolesCtxDN' type='xs:string'/>
      <xs:attribute name='securityAuthentication' type='xs:string'/>
      <xs:attribute name='securityCredential' type='xs:string'/>
      <xs:attribute name='securityPrincipal' type='xs:string'/>
      <xs:attribute name='securityProtocol' type='xs:string'/>
      <xs:attribute name='trustStore' type='xs:string'/>
      <xs:attribute name='trustStorePassword' type='xs:string'/>
      <xs:attribute name='uidAttributeID' type='xs:string'/>
      <xs:attribute name='updateableCredentialAttribute' type='xs:string'/>
      <xs:attribute name='useBindCredentials' type='xs:string'/>
      <xs:attribute name='userCertificateAtrributeID' type='xs:string'/>
      <xs:attribute name='userPropertiesQueryString' type='xs:string'/>
      <xs:attribute name='usersCtxDN' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.josso.gateway.identity.service.store.ldap.LDAPIdentityStore -->
  <xs:element name='ldap-store'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        An implementation of an Identity and Credential Store which obtains credential, user and
role information from an LDAP server using JNDI, based on the configuration properties.
<p/>
It allows to set whatever options your LDAP JNDI provider supports your Gateway
configuration file.
Examples of standard property names are:
<ul>
<li><code>initialContextFactory = "java.naming.factory.initial"</code>
<li><code>securityProtocol = "java.naming.security.protocol"</code>
<li><code>providerUrl = "java.naming.provider.url"</code>
<li><code>securityAuthentication = "java.naming.security.authentication"</code>
</ul>
<p/>
This store implementation is both an Identity Store and Credential Store.
Since in JOSSO the authentication of the user is left to the configured Authentication Scheme,
this store implementation cannot delegate user identity assertion by binding to the
LDAP server. For that reason it retrieves the required credentials from the directory
leaving the authentication procedure to the configured Authentication Scheme.
The store must be supplied with the configuratoin parameters so that it can retrieve user
identity information.
<p/>
<p/>
Additional component properties include:
<ul>
<li>securityPrincipal: the DN of the user to be used to bind to the LDAP Server
<li>securityCredential: the securityPrincipal password to be used for binding to the
LDAP Server.
<li>securityAuthentication: the security level to be used with the LDAP Server session.
Its value is one of the following strings:
"none", "simple", "strong".
If not set, "simple" will be used.
<li>ldapSearchScope : alows control over LDAP search scope : valid values are ONELEVEL, SUBTREE</li>
<li>usersCtxDN : the fixed distinguished name to the context to search for user accounts.
<li>principalUidAttributeID: the name of the attribute that contains the user login name.
This is used to locate the user.
<li>rolesCtxDN : The fixed distinguished name to the context to search for user roles.
<li>uidAttributeID: the name of the attribute that, in the object containing the user roles,
references role members. The attribute value should be the DN of the user associated with the
role. This is used to locate the user roles.
<li>roleAttributeID : The name of the attribute that contains the role name
<li>roleMatchingMOde : The way JOSSO gets users roles, values UDN (default) and UID.
<li>credentialQueryString : The query string to obtain user credentials. It should have the
following format : user_attribute_name=credential_attribute_name,...
For example :
uid=username,userPassword=password
<li>userPropertiesQueryString : The query string to obtain user properties. It should have
the following format : ldap_attribute_name=user_attribute_name,...
For example :
mail=mail,cn=description
</ul>
A sample LDAP Identity Store configuration :
<p/>
<pre>
&lt;sso-identity-store&gt;
&lt;class&gt;org.josso.gateway.identity.service.store.ldap.LDAPIdentityStore&lt;/class&gt;
&lt;initialContextFactory&gt;com.sun.jndi.ldap.LdapCtxFactory&lt;/initialContextFactory&gt;
&lt;providerUrl&gt;ldap://localhost&lt;/providerUrl&gt;
&lt;securityPrincipal&gt;cn=Manager\,dc=my-domain\,dc=com&lt;/securityPrincipal&gt;
&lt;securityCredential&gt;secret&lt;/securityCredential&gt;
&lt;securityAuthentication&gt;simple&lt;/securityAuthentication&gt;
&lt;usersCtxDN&gt;ou=People\,dc=my-domain\,dc=com&lt;/usersCtxDN&gt;
&lt;principalUidAttributeID&gt;uid&lt;/principalUidAttributeID&gt;
&lt;rolesCtxDN&gt;ou=Roles\,dc=my-domain\,dc=com&lt;/rolesCtxDN&gt;
&lt;uidAttributeID&gt;uniquemember&lt;/uidAttributeID&gt;
&lt;roleMatchingMode&gt;UDN&lt;/roleMatchingMode&gt;
&lt;roleAttributeID&gt;cn&lt;/roleAttributeID&gt;
&lt;credentialQueryString&gt;uid=username\,userPassword=password&lt;/credentialQueryString&gt;
&lt;userPropertiesQueryString&gt;mail=mail\,cn=description&lt;/userPropertiesQueryString&gt;
&lt;ldapSearchScope&gt;SUBTREE&lt;/ldapSearchScope&gt;
&lt;/sso-identity-store&gt;
</pre>
<p/>
A sample LDAP Credential Store configuration :
<p/>
<pre>
&lt;credential-store&gt;
&lt;class&gt;org.josso.gateway.identity.service.store.ldap.LDAPIdentityStore&lt;/class&gt;
&lt;initialContextFactory&gt;com.sun.jndi.ldap.LdapCtxFactory&lt;/initialContextFactory&gt;
&lt;providerUrl&gt;ldap://localhost&lt;/providerUrl&gt;
&lt;securityPrincipal&gt;cn=Manager\,dc=my-domain\,dc=com&lt;/securityPrincipal&gt;
&lt;securityCredential&gt;secret&lt;/securityCredential&gt;
&lt;securityAuthentication&gt;simple&lt;/securityAuthentication&gt;
&lt;usersCtxDN&gt;ou=People\,dc=my-domain\,dc=com&lt;/usersCtxDN&gt;
&lt;principalUidAttributeID&gt;uid&lt;/principalUidAttributeID&gt;
&lt;rolesCtxDN&gt;ou=Roles\,dc=my-domain\,dc=com&lt;/rolesCtxDN&gt;
&lt;uidAttributeID&gt;uniquemember&lt;/uidAttributeID&gt;
&lt;roleAttributeID&gt;cn&lt;/roleAttributeID&gt;
&lt;credentialQueryString&gt;uid=username\,userPassword=password&lt;/credentialQueryString&gt;
&lt;userPropertiesQueryString&gt;mail=mail\,cn=description&lt;/userPropertiesQueryString&gt;
&lt;/credential-store&gt;
</pre>
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='enableStartTls' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='useBindCredentials' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='credentialQueryString' type='xs:string'/>
      <xs:attribute name='enableStartTls' type='xs:string'/>
      <xs:attribute name='initialContextFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Configuration Properties
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='ldapSearchScope' type='xs:string'/>
      <xs:attribute name='principalLookupAttributeID' type='xs:string'/>
      <xs:attribute name='principalUidAttributeID' type='xs:string'/>
      <xs:attribute name='providerUrl' type='xs:string'/>
      <xs:attribute name='roleAttributeID' type='xs:string'/>
      <xs:attribute name='roleMatchingMode' type='xs:string'/>
      <xs:attribute name='rolesCtxDN' type='xs:string'/>
      <xs:attribute name='securityAuthentication' type='xs:string'/>
      <xs:attribute name='securityCredential' type='xs:string'/>
      <xs:attribute name='securityPrincipal' type='xs:string'/>
      <xs:attribute name='securityProtocol' type='xs:string'/>
      <xs:attribute name='trustStore' type='xs:string'/>
      <xs:attribute name='trustStorePassword' type='xs:string'/>
      <xs:attribute name='uidAttributeID' type='xs:string'/>
      <xs:attribute name='updateableCredentialAttribute' type='xs:string'/>
      <xs:attribute name='useBindCredentials' type='xs:string'/>
      <xs:attribute name='userCertificateAtrributeID' type='xs:string'/>
      <xs:attribute name='userPropertiesQueryString' type='xs:string'/>
      <xs:attribute name='usersCtxDN' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
